@model DiceMVC.Application.ViewModels.Game.GetPlayerCountVm

@{
    ViewData["Title"] = "GetPlayersCount";
}

<h4>Podaj liczbę graczy</h4>

<div >

        <form asp-action="GetPlayersCount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
       <!--         <label asp-for="PlayerCount" class="control-label"></label> -->
                <input asp-for="PlayerCount" class="form-control" />
                <span asp-validation-for="PlayerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

