@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="content">
    <h4> Instrukcja </h4>
    <p style="text-align: justify">Najpopularniejszą ze wszystkich rodzajów gry w kości jest Yahtzee (generał). Do tej odmiany potrzebujemy pięciu kości do gry. Rozgrywka trwa 13 kolejek. W każdej kolejce mamy prawo do 3 rzutów kośćmi. Pierwszy rzut odbywa się zawsze pięcioma kostkami. W kolejnych dwóch rzutach gracz używa taką ilość kostek, jaką uważa za stosowną - pasującą do jego koncepcji. Po skończonej swojej turze rzutów, gracz ma obowiązek zapisać układ oczek uzyskany na kostkach i dopasować go do jednej z 13 kategorii tabeli. Kategoria, która zostanie wybrana, musi być przemyślana, ponieważ nie będzie opcji ponownego jej wyboru.</p>
    <br>
    <p style="text-align: justify">Tabelę dzielimy na część górną oraz dolną, a zsumowane ich wartości - dają nam wynik końcowy. W górnej części znajdziemy podział na 6 kategorii (jedynki, dwójki, trójki, czwórki, piątki oraz szóstki). W przypadku uzyskania 63 punktów (co odpowaiada zaliczenia po 3 z każdych wartości) gracz otrzymuje bonus w wysokości 50 punktów.</p>
    <p style="text-align: justify">Dolna część przedstawia siedem kategorii, tj. “trzy jednakowe”, “cztery jednakowe”, “ful”, “mały strit”, “duży strit”, “generał” oraz “szansa”.</p>
    <p style="text-align: justify">- Tak jak nazwa może wskazywać “trzy jednakowe” oraz “cztery jednakowe” to kombinacja, w której mamy trzy lub cztery jednakowe wartości na kościach w danej kolejce rzutów. W przypadku rzucenia 3, 5, 3, 3 i 3 oczek wypadają nam obydwie kombinacje. Sami decydujemy, którą wybieramy. W obu przypadkach wartością jest suma oczek z pięciu kostek. W tym przypadku będzie taka sama tj. 17 oczek.</p>
    <p style="text-align: justify">- “Ful”, tak jak w pokerze, jest to kombinacja, trójki i pary, np. wyrzucenie 5,5,5,3,3, lub 4,4,4,1,1 daje tą samą wartość - czyli 25pkt. W przypadku niewyrzucenia fula, wpisujemy 0pkt. Tak samo jak w przypadku górnej tabeli, muszą być one uzupełnione.</p>
    <p style="text-align: justify">- Do zdobycia małego strita potrzeba czterech kolejnie po sobie następujących cyfr (wartości kostki), przykładowo: 1,2,3,4,6 lub 1,3,4,5,6. Takie ułożenie kości pozwala zdobyć 30 pkt.</p>
    <p style="text-align: justify">- Duży strit jest rozszerzeniem małego, w tej kombinacji potrzeba aż pięciu kolejnych cyfr, czyli 1,2,3,4,5 lub 2,3,4,5,6. Za dużego strita dostajemy 40 pkt.</p>
    <p style="text-align: justify">- Zdobycie “generała” polega na wyrzuceniu pięciu kostek o tej samej liczbie oczek np. 5,5,5,5,5 lub 2,2,2,2,2 – dostajemy za to 50 pkt.</p>
    <p style="text-align: justify">- Szansa to suma wszystkich kości wyrzuconych w danej turze np. 3,5,2,1,4 – to 15pkt, zaś 6,6,6,3,2 daje nam 23pkt.</p>
    <br>
    <p style="text-align: justify">Po wypełnieniu całej tabeli, pora na zsumowanie wszystkich punktów z obu tabel, górnej i dolnej. Wygrywa gracz z największą ilością punktów, kolejne miejsca zajmują odpowiednio gracze z coraz to niższą sumą punktów.</p>
    <p style="text-align: justify">Na podstawie holdemshop.pl</p>
    <br />
    <form asp-action="Index" asp-controller="Home" method="post">
        <input type="submit" name="endGame" value="Powrót do menu" style="text-align:center" />
    </form>
    <br />
    <br />
    <p> </p>
    </div>
