@model DiceMVC.Application.ViewModels.Game.ListOfSavedGamesVm

@{
    ViewData["Title"] = "LoadGame";
}

<h1>LoadGame</h1>

<div>
    <form asp-action="LoadGame" asp-controller="Game" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.Count)  wybierz grę
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Games)
                {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.GameId)
                    </th>
                    <td>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="@item.GameId" asp-for="ChooseGame" /><br />
                            </label>
                        </div>
                    </td>
                    <td>
                        @foreach(var player in item.Players)
                       { <td>
                            @Html.DisplayFor(modelItem => player.Name) 
                          </td>}
                    
                </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Wybierz" />
    </form>
</div>