@model DiceMVC.Application.ViewModels.Player.NewOrLoadPlayerVm

@{
    ViewData["Title"] = "NewOrLoadPlayer";
}

<div>
    <div>
        <form asp-action="NewOrLoadPlayer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="IdGame" class="form-control" />
            </div>
            <div>
                <input type="hidden" asp-for="TurnNo" class="form-control" />
            </div>
            <div>
                <label>
                    <input type="radio" class="form-check-input" value = "New" asp-for="CreateNewPlayer" /> Nowy Gracz<br />
                    <input type="radio" class="form-check-input" value= "Load" asp-for="CreateNewPlayer" /> Wczytaj Gracza
                </label>
            </div>
            <div>
                <input type="submit" value="Dalej" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

