<!--małpamodel DiceMVC.Application.ViewModels.Player.PlayerValueVM

małpa{
    ViewData["Title"] = "ViewPlayerValues";
}

<h1>ViewPlayerValues</h1>

<div>
    <h4>PlayerValueVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
           8 małpaHtml.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Ones)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Ones)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Twos)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Twos)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Threes)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Threes)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Fours)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Fours)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Fives)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Fives)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Sixs)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Sixs)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Bonus)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Triple)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Triple)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Fourfold)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Fourfold)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Full)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Full)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.SmallStraight)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.SmallStraight)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.HighStraight)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.HighStraight)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.General)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.General)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Chance)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Chance)
        </dd>
        <dt class = "col-sm-2">
            małpaHtml.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            małpaHtml.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    małpaHtml.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
    -->
