@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w grze w kości</h1>
    <p>wybierz odpowiednią opcję</p>
</div>
<form>
    <div class="text-center">
        @Html.ActionLink("Nowa gra", "GetPlayersCount", "Game")<br />
        @Html.ActionLink("Wczytaj zapisaną grę", "LoadGame", "Game")<br />
        @Html.ActionLink("Instrukcje", "", "")<br /> 
    </div>
</form>

