@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h3 >Witaj w grze w kości</h3>
    <p>wybierz odpowiednią opcję</p>
</div>

    <p style="text-align: center">
        <a href="@Url.Action("GetPlayersCount", "Game")">
            <button type="button">
                Nowa gra
            </button>
        </a>
    </p>
    <p style="text-align: center">
        <a href="@Url.Action("LoadGame", "Game")">
            <button type="button" >
                Wczytaj zapisaną grę
            </button>
        </a>
    <p style="text-align: center">
        <a href="@Url.Action("", "")">
            <button type="button">
                Instrukcje
            </button>
        </a>
    </p>
    </p>


