@model Game

@{
    ViewData["Title"] = "ShowDices";
}

<h1>Wartości wyrzuconych kości</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                numer kości
            </th>
            <th>
                wartość kości
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i =0; i<5;i++)
        {
           
            {
                <tr>
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Model.Dices[i,0]
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
