@*@model Player

@{
    ViewData["Title"] = "ShowPlayerValue";
}

<h1>Punktacja</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Model.Name
            </th>
            <th>
                Values
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Values) {
        <tr>
            <td>
                @item.Key
            </td>
            <td>
                @if (Model.FreeValues[item.Key])
                {
                @item.Value
                }

            </td>
        </tr>
}
    </tbody>
</table>*@
